[submodule "FATodos/Framework/samurai-native"]
	path = FATodos/Framework/samurai-native
	url = https://github.com/fallending/samurai-native.git
[submodule "FATodos/Vendor/LibraryStorage/AutoDatabase/objective-c-sql-query-builder"]
	path = FATodos/Vendor/LibraryStorage/AutoDatabase/objective-c-sql-query-builder
	url = https://github.com/fallending/objective-c-sql-query-builder.git
[submodule "FATodos/Framework/MKNetworkKit"]
	path = FATodos/Framework/MKNetworkKit
	url = https://github.com/MugunthKumar/MKNetworkKit.git
[submodule "FATodos/Framework/tool.oc"]
	path = FATodos/Framework/tool.oc
	url = https://github.com/fallending/tool.oc.git
